* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: darkolivegreen;
}

.page-title {
  display: flex-center;
  text-align: center;
  font-size: 2em;
  background-color: black;
  margin-bottom: 20px;

}  

.title {
  /* text-align: center; */
  /* margin-top: 20px; */
  /* font-size: 2em; */
  color: white;
}

.subtitle {
  /* text-align: center; */
  /* margin-top: 20px; */
  font-size: 1.5em;
  color: white;
}