* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-decoration-color: aliceblue; */
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: rgb(244, 245, 245);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* max-width: 1100px; */
}

header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: azure;
  width: 100%;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  min-width: 200px;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 0 auto;
}

.header-title {
  color: brown;
  font-style: ;
}

.header-links {
  display: flex;
  width: 340px;
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
  list-style: none;
  font-size: 18px;
}
/* When styling links inside <ul><li>, always target <a> for link-specific styles and make sure it's inline-block if using transform. 🚀 */
.header-links1:link,
.header-links1:visited {
  text-decoration: none;
  display: inline-block; /* Ensures transform works */
  color: brown;
}

.header-links1:hover,
.header-links1:active {
  text-decoration: none;
  transform: scale(1.2);
}

.subtitle {
  font-size: 1.5em;
  color: white;
}

.article-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
  /* max-width: 1100px; */
}

.article-header-img {
  width: 76%;
  max-width: 933px;
  object-fit: contain;
  padding-top: 20px;
  padding-bottom: 50px;
}

.page-title {
  color: azure;
  font-size: 45px;
  padding: 10px;
  text-align: center;
  max-width: 933px;
}

.hr-line {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  max-width: 660px;
  font-size: 18px;
  line-height: 28px;
  padding: 20px 20px 20px 20px;
}

.intro-article-text {
  color: whitesmoke;
  padding-bottom: 20px;
}

.year-1995 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  text-align: center;
  padding-bottom: 80px;
  color: brown;
}

.year-1995-text {
  color: brown;
  max-width: 560px;
}

.year-1996 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(133, 82, 14);
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  color: rgb(159, 174, 30);
}

.year-1996-text {
  color: rgb(159, 174, 30);
  max-width: 560px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.Jonny {
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  padding: 7px 15px;
  border: rgb(159, 174, 30);
  border-style: solid;
  margin-bottom: 25px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.track-name {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.horizontal-links {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.video-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
