* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 825px; */
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.body {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
}

.container {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  /* align-items: center; */
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.border-1 .border-2 .border-3 {
  flex: 1;

}


.price-shipping {
  display: flex;
  justify-content: space-between;
}


.product-title {
  /* text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  background-color: rgba(159, 3, 3, 0.256);
  padding: 15px; */
  .product-title 
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgba(159, 3, 3, 0.256);
    padding: 15px;
}
body {
  background-color: bisque;
}

/* .product-image { */
/* float: left; */
/* box-sizing: content-box; */
/* width: 275px; */
/* } */

.price-tag {
  font-size: 23px;
  width: 150px;
  margin-bottom: 20px;
  /* display: flex; */
}

.free-shipping {
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
  font-size: 12px;
  margin-top: 8px;
  /* margin-bottom: 40px; */
  /* float: right; */
  /* display: flex; */
}

.description {
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
  cursor: pointer;
}

.more-info:hover {
  text-decoration: none;
}

.more-info {
  display: block;
  margin-bottom: 20px;
}

.product-details {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}

.P-details {
  list-style-type: square;
  margin-left: 20px;
}
/* so when putting li after P.details, it selected all the single li attributes within that list */
.P-details li {
  margin-bottom: 10px;
}

.add-to-cart {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 23px;
  background-color: black;
  border: none;
  cursor: pointer;
  color: whitesmoke;
  padding: 15px;
  width: 100%;
  border-top: 5px solid black;
  transition: background-color 0.9s ease, color 0.9s ease;
}

.add-to-cart:hover {
  background-color: transparent;
  color: rgb(159, 3, 3);
}

.product-title {
  position: relative;
}

.product-title::after {
  content: "sale";
  background-color: red;
  color: whitesmoke;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  /* border: 1px solid black; */
  letter-spacing: 1px;
  top: -15px;
  left: -30px;
}

.color-select {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.box {
  width: 16px;
  height: 16px;
  border: 1px solid black;
}

.box:nth-child(1) {
  background-color: blue;
}

.box:nth-child(2) {
  background-color: red;
}

.box:nth-child(3) {
  background-color: green;
}

.box:nth-child(4) {
  background-color: yellow;
}

.box:nth-child(5) {
  background-color: purple;
}

.box:nth-child(6) {
  background-color: orange;
}
